* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #35536b;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-link {
    padding: 0 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
}

.section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #35536b;
}

.section-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}

.section-item a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 10px solid #35536b;
}

.section-profile-logo {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
}

.section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.main-title {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    color: #4d2323;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
}

.main-title::after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 2px;
    background-color: #35536b;
}

.section-subtitle {
    margin-top: 20px;
    color: #5c5c5c;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 2px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.rs_school {
    width: 70px;
}
